body{
    background-color: grey;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
#BCPF{
    width: 100%;
    background-color: white;
    text-align: center;
}
.h1{
    text-align: center;
    width: 100%;
    background-color: white;
    
}
.post{
    background-color: white;
    width: 30%;
    margin: 20px;
}
.postimage{
    width: 100%;
}