body{
    background-color: grey;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post{
    background-color: white;
    width: 30%;
    margin: 20px;
}
.postimage{
    width: 100%;
}